<%- include ("header"); -%>
    <div class="input">
    <h1>Weather Information </h1>
    <h5>Know Your Local Weather</h5>
    <img class="cloud-img"src="/css/cloud.jpg" alt="cloud">
    <form class="form-div" action="/" method="post"  autocomplete="off">
      <input type="text" name="cityName" placeholder="Enter City Name Here"><br>
      <input class="btn btn-outline-light" type="submit" name="" value="Enter">
    </form>

</div>

<%- include("footer") -%>
